.content-title {
  margin-bottom: 10px;
  font-size: 16px;
}

.bordered-content {
  border-width: 1px 1px 1px 4px;
  border-left: 3px solid black;
  padding: 8px 15px;
  margin: 10px 0px;
  border-radius: 4%;
  color: #000000;
}
