.content-banner {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  color: rgb(4, 31, 65);
  letter-spacing: 1pt;
  border-bottom: 1px solid rgba(167, 164, 164, 0.3);
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.content-banner-title {
  font-size: 25px;
  font-weight: bolder;
}

.content-banner-button {
  font-size: 14px;
  background-color: rgb(4, 31, 65);
  height: 32px;
}
