.clusters-content {
  font-size: 16px;
  padding: 24px 12px 20px;
}

.text {
  padding: 0 0 16px;
  color: #000000d9;
}

.clusters-taas {
  color: #0751a9;
}

.border {
  border: 1px solid black;
  border-left: 3px solid black;
  padding: 8px 15px;
  margin: 10px 20px;
  border-radius: 4%;
  color: #000000;
  width: 65%;
}
