.buttons-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cancel-button,
.submit-button {
  letter-spacing: 1pt;
  padding: 4px 15px;
  width: 135;
}
.cancel-button {
  margin-right: 10px;
}
